@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --blue: rgba(98, 48, 206);
}

*{
  margin: 0;
  box-sizing: border-box;
}
@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #0a0a0a;
    --foreground: #ededed; */
  }
}

body {
  color: var(--foreground);
  font-family: Luis;

}

@font-face{
  font-family: Luis;
  src: url("./fonts/font.ttf");
}

body{
  height: 100dvh;
  
}

.winner-box{
  background-color: green !important;
}