.col_element1, .col_element2, .col_element3 {
  background-color: green;
}

.col_element1, .col_element2, .col_element3 {
  background-color: green;
}

.button_area{

  
}

.ceil{
  background-color: var(--blue);
  font-size: 1.9rem;
  box-shadow: 0px 0px 4px 2px #219a4b;
}

.tabimage {
  position: absolute;
  width: 100%;
  
}

.lamp {
  width: 40px;
  z-index: 20;
  position: absolute;
  top: 30px;
}